/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3.5rem;
  --heart-height: 45px;

  /*========== Colors ==========*/
  --first-color:#824D3E;
  --first-color-dark: #444444;
  --second-color: #C42130;
  --title-color: #161212;
  --title-home-color: #5361FF;
  --text-color: #666666;
  --body-color: ##E5E5E5;
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Nunito', sans-serif;
  --logo-font: 'Montserrat', sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --biggest-font-size: 2rem;
  --normal-font-size: .938rem;
  --normal2-font-size: 1.3rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-black: 900;

  /*========== Margins ==========*/
  --mb-05: .5rem;
  --mb-1: 1rem;
  --mb-2: 2rem;
  --mb-3: 4rem;
  --mb-4: 5rem;
  --mb-5: 6.5rem;
  --mb-6: 8rem;
  --mb-7: 10rem;
  /*========== z index ==========*/

  --z-element1: 1;
  --z-element2: 2;
  --z-fixed: 100;
}

/*========== BASE ==========*/
*,::before,::after {
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
}

h1,h2,h3,ul,li,p {
  margin: 0;
}

h1,h2,h3{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul, li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  background: inherit;
  border-radius: inherit;
}

/*========== HEADER ==========*/

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color-dark);
}

.numCount {
  z-index: var(--z-element2);
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
  text-align: center;
  color: var(--title-home-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2),
              0 -2px 5px rgba(0, 0, 0, 0.2);
  min-width: 1.5rem;
  padding: 1px 3px;
  margin: 0 2px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s;
}

.numCount:hover {
  color: var(--container-color);
  background-color: var(--first-color-darken);
}

.showNumCount {
  opacity: 1;
  bottom: 1.5rem;
  animation-duration: .5s;
  animation-name: animate-num_cart;
}

@keyframes animate-num_cart {
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.2,1.2);
  }
  100%{
    transform: scale(1,1);
  }
}

/*========== NAV ==========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 var(--mb-7);
}

.navLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLogo h2 {
  color: var(--container-color);
  font-family: var(--logo-font);
  font-weight: var(--font-black);
  font-size: var(--h2-font-size);
}
.navLogo:hover {
  color: var(--title-home-color);
}

.navLogo img {
  width: 1.3rem;
  margin-right: .5rem;
}

.navLink, .navIcon {
  color: var(--container-color);
  font-weight: var(--font-semi-bold);
  font-size: var(--normal2-font-size);
  margin-left: var(--mb-1);
  margin-top: var(--mb-05);
  transition: .5s;
}

.navIcon:hover {
  color: var(--title-home-color);
}

.navList {
  display: flex;
  align-items: center;
}

/*========== HOME ==========*/

.homeContent {
  display: grid;
  justify-content: center;
  margin: 2rem 1rem 0 1rem;
  width: 100vh;
}

.homeContainer {
  display: flex;
  justify-content: center;
}

.topImages {
  display: grid;
  margin-top: 1rem;
  width: 100vh;
}

.topImages div img {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 100%;
}

.titleTopImg {
  position: relative;
  top: 14rem;
  left: 4rem;
  font-family: var(--logo-font);
  font-weight: var(--font-bold);
  font-size: var(--mb-2);
  letter-spacing: .35rem;
  color: var(--container-color);
}

.titleHome {
  font-family:var(--body-font);
  letter-spacing: .10rem;
  margin-bottom: var(--mb-1);
  text-align: center;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 430px;
  margin-left: var(--mb-1);
  background-color: var(--container-color);
  border: 1px solid #EEEEEE;
  transition: .5s;
  margin-bottom: var(--mb-4);
}

.cardContent:hover {
  height: 510px;
  margin-bottom: 0;
}

.topCard, .middleCard, .buttonCard {
  width: calc(100% - 1rem);
}

.topCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--mb-2);
  transition: .5s;
}

.msgSummer, .msgLaunch, .msgOff {
  font-size: 0.6rem;
  padding: 5px;
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

.msgOff {
  background-color: #EBD7CE;
  border: 1px solid #EBD7CE;
}

.msgLaunch {
  background-color: #824D3E;
  border: 1px solid #824D3E;
  color: var(--container-color);
}

.favoritedBtn {
  color: var(--second-color);
  font-size: 1.3rem;
  cursor: pointer;
}

.middleCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.imgCard {
  align-self: center;
  height: 285px;
}

.titleCard, .parcelCard {
  font-size: var(--small-font-size);
  color: var(--text-color);
  letter-spacing: .1rem;
  margin-top: 3px;
  transition: .5s;
}

.priceCard {
  font-size: calc(var(--small-font-size) + 2px);
  margin-top: var(--mb-05);
  font-weight: var(--font-bold);
}

.buyBtn {
  background-color: var(--first-color);
  color: var(--container-color);
  font-family: var(--logo-font);
  font-weight: var(--font-semi-bold);
  letter-spacing: 1px;
  width: 100%;
  padding: .75rem 0;
  cursor: pointer;
  transition: .5s;
  opacity: 0;
}

.buyBtn:hover {
  color: var(--title-home-color);
}

.cardContent:hover .buyBtn {
  opacity: 1;
}

.cardContent:hover .parcelCard {
  margin-bottom: var(--mb-1);
}

.cardContent:hover .topCard {
  margin-top: -2rem;
}

.pageContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowPage {
  font-size: 1.9rem;
  width: 40px;
  height: 55px;
  color: var(--container-color);
}

.numPage {
  /* position: relative;
  bottom: 0;
  left: 0; */
  /* z-index: var(--z-fixed); */
  font-size: 1.2rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #C4C4C4;
  margin-left: 5px;
  user-select: none;
}

.arrowPage, .numPage {
  text-align: center;
  vertical-align: middle;
  background-color: #C4C4C4;
  cursor: pointer;
  transition: 0.5s;
}

.atualPg {
  color: var(--first-color-dark);
  user-select: none;
}

.arrowPage:hover, .atualPg {
  background-color: var(--first-color-dark);
}

.arrowLeft {
  position: relative;
  top: -20rem;
  left: -16rem;
}

.arrowRight {
  position: relative;
  top: -20rem;
  right: -17rem;
}



/*========== MEDIA QUERIES ==========*/

@media screen and (min-width: 768px){

  /*========== HOME ==========*/

  .homeContent {
    margin: 2rem auto;
  }

  .topImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--mb-1);
    margin: var(--mb-1) auto;
  }
  
  .topImages div img {
    margin-left: var(--mb-1);
    margin-right: 0;
  }

  .titleTopImg {
    top: 8rem;
    left: 4rem;
    font-size: var(--normal-font-size);
  }

  .arrowLeft {
    top: -20rem;
    left: -31rem;
  }
  
  .arrowRight {
    top: -20rem;
    right: -32rem;
  }

}
